* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  color: #f9f9f9;
  text-decoration: none;
}

button {
  outline: none;
}

.home {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .title h1 {
  color: #202020;
  font-size: 3rem;
}

.home .vocales-box, .home .consonates-box {
  width: 70%;
  height: 200px;
  border-radius: 20px;
  background-color: #2EADF4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f9f9f9;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .vocales-box:hover, .home .consonates-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .vocales-box h2, .home .consonates-box h2 {
  cursor: pointer;
}

.home .vocales-box h2 a, .home .consonates-box h2 a {
  padding: 20px;
}

.home .consonates-box {
  background-color: #2bdd52;
}

.content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content .title {
  width: 100vw;
  padding: 20px;
  background-color: #2EADF4;
  text-align: center;
  font-size: 1.5rem;
}

.content .words-options {
  width: 90%;
  height: 40%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .words-options .word-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .words-options .word-item:nth-child(1) {
  background-color: #FFD600;
}

.content .words-options .word-item:nth-child(1):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .words-options .word-item:nth-child(2) {
  background-color: #2bdd52;
}

.content .words-options .word-item:nth-child(2):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .words-options .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.content .words-options .word-item:nth-child(3):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .words-options .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.content .words-options .word-item:nth-child(4):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .words-options .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.content .words-options .word-item:nth-child(5):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .words-options .word-item .word-btn, .content .words-options .word-item .word-btn3, .content .words-options .word-item .word-btn2, .content .words-options .word-item .word-btn4, .content .words-options .word-item .word-btn5 {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.content .back {
  position: absolute;
  top: 10px;
  left: 5%;
  font-weight: bold;
  font-size: 20px;
}

.content .go-to {
  left: 85%;
}

.content .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 1rem auto;
}

.content .examples .exp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .examples .exp-item:nth-child(1):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(2):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(3):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(4):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(5):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item .exp-btn {
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.consonantes {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.consonantes .title {
  width: 100vw;
  padding: 20px;
  background-color: #2bdd52;
  text-align: center;
  font-size: 1.5rem;
}

.consonantes .words-options {
  overflow: hidden;
}

.consonantes .words-options .consonantes-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.consonantes .words-options .consonantes-options .words-slide {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.consonantes .words-options .consonantes-options .words-slide .word-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(1) {
  background-color: #FFD600;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(1):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(2) {
  background-color: #2bdd52;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(2):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(3):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(4):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(5):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.consonantes .words-options .consonantes-options .words-slide .word-item .word-btn {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.consonantes .back {
  position: absolute;
  top: 10px;
  right: 10px;
}

.consonantes .btn {
  position: absolute;
  top: 65%;
  border: none;
  background: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.consonantes .btn i {
  color: #2bdd52;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.consonantes .btn:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.consonantes #prev {
  left: 15px;
}

.consonantes #next {
  right: 15px;
}
/*# sourceMappingURL=styles.css.map */