* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  color: #f9f9f9;
  text-decoration: none;
}

button {
  outline: none;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home .title h1 {
  color: #202020;
  font-size: 3rem;
}

.home .vocales-box, .home .consonates-box {
  width: 70%;
  height: 200px;
  border-radius: 20px;
  background-image: url(../../img/bg-vocales.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f9f9f9;
  font-size: 2rem;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.home .vocales-box:hover, .home .consonates-box:hover {
  -webkit-transform: scale(1.01) translateY(-5px);
          transform: scale(1.01) translateY(-5px);
  -webkit-box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.25);
}

.home .vocales-box h2, .home .consonates-box h2 {
  cursor: pointer;
}

.home .vocales-box h2 a, .home .consonates-box h2 a {
  padding: 20px;
}

.home .consonates-box {
  background-image: url(../../img/bg-consonantes.png);
}

.home span {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  -webkit-animation: square 5s linear infinite;
          animation: square 5s linear infinite;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-100%);
            transform: rotate(180deg) translateY(-100%);
    opacity: 0;
  }
}

@keyframes square {
  0% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(-100%);
            transform: rotate(180deg) translateY(-100%);
    opacity: 0;
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content .title {
  width: 95vw;
  margin: 10px auto;
  padding: 20px;
  background-image: url(../../img/bg-vocales.png);
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.content .words-options {
  width: 90%;
  height: 40%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .words-options .word-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 1rem;
  font-size: 2rem;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content .words-options .word-item:nth-child(1) {
  background-color: #FFD600;
}

.content .words-options .word-item:nth-child(1):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content .words-options .word-item:nth-child(2) {
  background-color: #2BDD52;
}

.content .words-options .word-item:nth-child(2):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content .words-options .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.content .words-options .word-item:nth-child(3):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content .words-options .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.content .words-options .word-item:nth-child(4):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content .words-options .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.content .words-options .word-item:nth-child(5):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content .words-options .word-item .word-btn, .content .words-options .word-item .word-btn3, .content .words-options .word-item .word-btn2, .content .words-options .word-item .word-btn4, .content .words-options .word-item .word-btn5 {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.content .up-btn {
  position: absolute;
  top: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content .up-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .back {
  left: 5%;
}

.content .go-to {
  right: 5%;
}

.content .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 1rem auto;
}

.content .examples .exp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  opacity: 0.7;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content .examples .exp-item:nth-child(1):hover {
  opacity: 1;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.content .examples .exp-item:nth-child(2):hover {
  opacity: 1;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.content .examples .exp-item:nth-child(3):hover {
  opacity: 1;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.content .examples .exp-item:nth-child(4):hover {
  opacity: 1;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.content .examples .exp-item:nth-child(5):hover {
  opacity: 1;
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.content .examples .exp-item .exp-btn {
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.content span {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  -webkit-animation: square 5s linear infinite;
          animation: square 5s linear infinite;
}

.consonantes {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.consonantes .title {
  background-image: url(../../img/bg-consonantes.png);
}

.consonantes .words-options {
  overflow: hidden;
}

.consonantes .words-options .consonantes-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.consonantes .words-options .consonantes-options .words-slide {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.consonantes .words-options .consonantes-options .words-slide .word-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-top: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(1) {
  background-color: #FFD600;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(1):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(2) {
  background-color: #2BDD52;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(2):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(3):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(4):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.consonantes .words-options .consonantes-options .words-slide .word-item:nth-child(5):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.consonantes .words-options .consonantes-options .words-slide .word-item .word-btn {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.consonantes .words-options .consonantes-options .words-slide .word-item1:nth-child(1) {
  background-color: #FFA60D;
}

.consonantes .words-options .consonantes-options .words-slide .word-item1:nth-child(2) {
  background-color: #E8AD0C;
}

.consonantes .words-options .consonantes-options .words-slide .word-item1:nth-child(3) {
  background-color: #FFD600;
}

.consonantes .words-options .consonantes-options .words-slide .word-item1:nth-child(4) {
  background-color: #E8DA0C;
}

.consonantes .words-options .consonantes-options .words-slide .word-item1:nth-child(5) {
  background-color: #E2FF0D;
}

.consonantes .words-options .consonantes-options .words-slide .word-item2:nth-child(1) {
  background-color: #84FF26;
}

.consonantes .words-options .consonantes-options .words-slide .word-item2:nth-child(2) {
  background-color: #33E823;
}

.consonantes .words-options .consonantes-options .words-slide .word-item2:nth-child(3) {
  background-color: #2BDD52;
}

.consonantes .words-options .consonantes-options .words-slide .word-item2:nth-child(4) {
  background-color: #23E885;
}

.consonantes .words-options .consonantes-options .words-slide .word-item2:nth-child(5) {
  background-color: #26FFD0;
}

.consonantes .words-options .consonantes-options .words-slide .word-item3:nth-child(1) {
  background-color: #23EDFA;
}

.consonantes .words-options .consonantes-options .words-slide .word-item3:nth-child(2) {
  background-color: #1FCADE;
}

.consonantes .words-options .consonantes-options .words-slide .word-item3:nth-child(3) {
  background-color: #2EADF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item3:nth-child(4) {
  background-color: #1F6BDE;
}

.consonantes .words-options .consonantes-options .words-slide .word-item3:nth-child(5) {
  background-color: #2723FA;
}

.consonantes .words-options .consonantes-options .words-slide .word-item4:nth-child(1) {
  background-color: #6823FA;
}

.consonantes .words-options .consonantes-options .words-slide .word-item4:nth-child(2) {
  background-color: #841FDE;
}

.consonantes .words-options .consonantes-options .words-slide .word-item4:nth-child(3) {
  background-color: #CD2EF4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item4:nth-child(4) {
  background-color: #DE1FC4;
}

.consonantes .words-options .consonantes-options .words-slide .word-item4:nth-child(5) {
  background-color: #FA2372;
}

.consonantes .words-options .consonantes-options .words-slide .word-item5:nth-child(1) {
  background-color: #DE1F4D;
}

.consonantes .words-options .consonantes-options .words-slide .word-item5:nth-child(2) {
  background-color: #F42E2E;
}

.consonantes .words-options .consonantes-options .words-slide .word-item5:nth-child(3) {
  background-color: #FA6223;
}

.consonantes .btn {
  position: absolute;
  top: 65%;
  border: none;
  background: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.consonantes .btn i {
  color: #2BDD52;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.consonantes .btn:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.consonantes #prev {
  left: 15px;
}

.consonantes #next {
  right: 15px;
}
/*# sourceMappingURL=styles.css.map */