.consonantes {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .title {
        width: 100vw;
        padding: 20px;
        background-color: $green;
        text-align: center;
        font-size: 1.5rem;
    }
    .words-options {
        width: 90%;
        margin: 3rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .word-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            margin-top: 1rem;
            font-size: 2rem;
            transition: all 0.3s ease;
            &:nth-child(1) {
                background-color: $yellow;
                &:hover {
                    transform: scale(1.05);
                }
            }
            &:nth-child(2) {
                background-color: $green;
                &:hover {
                    transform: scale(1.05);
                }
            }
            &:nth-child(3) {
                background-color: $blue;
                &:hover {
                    transform: scale(1.05);
                }
            }
            &:nth-child(4) {
                background-color: $violet;
                &:hover {
                    transform: scale(1.05);
                }
            }
            &:nth-child(5) {
                background-color: $red;
                &:hover {
                    transform: scale(1.05);
                }
            }
            .word-btn {
                padding: 10px;
                border: none;
                background: none;
                cursor: pointer;
                font-size: 3rem;
            }
        }
    }
    .back {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}